<ion-header no-border>
    <second-page-header backUrl="home/my">
        设置
    </second-page-header>
</ion-header>

<ion-content class="bg">
    <ion-item lines="full">
        <div padding slot="start">
            登录账号
        </div>
        <div class="font-color-dark" slot="end">
            139****2341
        </div>
    </ion-item>
    <ion-item detail lines="none">
        <div padding slot="start">
            微信绑定
        </div>
        <div class="font-color-gray" slot="end">
            去绑定
        </div>
    </ion-item>
</ion-content>

<ion-footer class="bg" padding>
    <ion-button class="button-main" href="">退出</ion-button>
</ion-footer>