<ion-header no-border>
    <second-page-header primary="true" backUrl="home/my">
        导航币
    </second-page-header>
    <div class="main header" padding>
        <div class="font-small">当前</div>
        <div class="font-large" style="padding: 10px">
            110
            <span class="font-small">
            导航币
            </span>
        </div>
        <div class="font-small" style="text-align:left;margin-top: 10px">
            <div>
                导航币可在换购导航网信息服务、广告服务时享受折扣优惠。
                详情请咨询您的客服专员。400-800-0000
            </div>
        </div>
    </div>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button class="tab-btn-selected" tab="in">
                <ion-label>收入</ion-label>
            </ion-tab-button>
            <ion-tab-button class="tab-btn-selected" tab="out">
                <ion-label>转出</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
