<ion-header no-border>
    <second-page-header backUrl="home/my">
        关于
    </second-page-header>
</ion-header>

<ion-content class="bg">
    <div class="top">
    </div>
    <div class="content">
        <div>关于***:</div>
        <div>***是导航网主办的移动众包平台，分发项目数据采集有偿任务，并给予完成任务者高额奖励。同时也接收企业的各种众包任务需求，详情可咨询客服人员。
        </div>
        <div>关于导航网:</div>
        <div>招标采购导航网[星河经纬(北京)资讯有限责任公司]，源自一九九三年六部委联合成立的中国高技术企业发展评价中心，秉承中国高技术企业发展评价中心降低中国企业经营成本的宗旨，除向政府管理部门及决策机构提供研究报告外，自2002年建立招标采购导航网(www.okcis.cn)。开始向社会公开提供有偿建设信息服务。
        </div>
    </div>
</ion-content>
