<ion-header>
  <div class="yemei">
      <ul name="baise">
          <li class="fanhui" [routerLink]="['/default/wode']">
              <ion-icon name="arrow-back"></ion-icon>
          </li>
          <li class="names">关于名称待定</li>
          <li class="right_title"></li>
      </ul>
    </div>
</ion-header>

<ion-content>
  <div class="bg_body">
    <div class="gy_img">
      <ul class="imgs"><img src="../../assets/img/ls.jpg"></ul>
      <ul class="names">中国招标采购导航网</ul>
    </div>
    <div class="gy_body">
      关于导航网：<br>
      ＊＊ 是导航网主办的移动众包平台，分发项目数据采集有偿任务，并给予完成任务者高额奖励。同时也接受企业的各种众包任务需求，详情可咨询客服人员。<br>
      关于导航网：<br>
      招标采购导航网［星河经纬（北京）资讯有限责任公司］，源自一九九三年六部委联合成立的中国高技术企业发展评价中心，秉承中国高技术企业发展评价中心降低中国企业经营成本的宗旨，除向政府管理部门及决策机构提供研究报告外，自2002年建立招标采购导航网。<br>
      （www.okcis.cn)开始向社会公开提供有偿建设信息服务。
    </div>
  </div>
</ion-content>
