ion-avatar {
  width: 100%;
  height: 100%;
  max-width: 64px;
  max-height: 64px;
}

ion-header {
  background-color: var(--ion-color-primary);
  padding: 24px 20px;
  color: var(--ion-color-primary-contrast);
  font-size: var(--ion-font-size-big);
}

ion-header div {
  line-height: 64px;
}

ion-icon {
  color: var(--ion-color-medium);
}

ion-item, ion-label {
  font-size: var(--ion-font-size-medium) !important;
  color: var(--ion-color-medium-shade) !important;
}

ion-label {
  padding: 10px;
}

table {
  width: 100%;
}

td {
  width: 33%;
  text-align: center;
  padding: 3px;
}