<ion-header no-border>
    <second-page-header backUrl="sign-in">
        绑定手机
    </second-page-header>
</ion-header>

<ion-content padding>
    <div class="main">
        <ion-item no-padding lines="none" margin-top="30px" margin-bottom="30px">
            <ion-label color="dark">微信登录需要绑定您的手机号码哦</ion-label>
        </ion-item>
        <ion-item no-padding>
            <ion-label>手机号</ion-label>
            <ion-input placeholder="请输入手机号码"></ion-input>
            <div class="v-divider"></div>
            <ion-label style="margin-left:10px">获取验证码</ion-label>
        </ion-item>
        <ion-item no-padding>
            <ion-label>验证码</ion-label>
            <ion-input placeholder="请输入验证码"></ion-input>
        </ion-item>
        <ion-button style="margin-top:50px" class="button-main" href="">立即绑定</ion-button>
    </div>
</ion-content>